.custom__button {
  border: none;
  background-color: #5C821A;
  font-size: 16px;
  padding: 8px 14px;
  color: white;
  border-radius: 5px;
  transition: all 0.3s ease-in;
  cursor: pointer;
}

.custom__button:hover {
  background-color: #5C821Ad0;
}
