.match__list {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    column-gap: 32px;
    row-gap: 24px;
    grid-column-start: 1;
    grid-column-end: 3;
}

.match_wrapper {
    background-color: #f8f8f8;
    border: 1px solid #C6D166;
    border-radius: 6px;
    box-shadow: 2px 4px 8px 0px rgba(0, 0, 0, 0.125);
    padding: 24px 36px;
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.match__link {
    margin-bottom: 20px;
    display: grid;
    grid-template-columns: 1fr 54px 1fr;
    transition: all 0.4s ease;
    text-decoration: none;
    row-gap: 8px;
    position: relative;
}

.match__link:hover {
    transform: scale(1.01);
}

.match__link p {
    color: #000000;
    padding: 0;
    margin: 0;
}

.match__team {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
}

.team__link {
    text-decoration: none;
}

.match__team p {
    text-align: center;
}

.match__team img {
    width: 100%;
    max-width: 85px;
}

.match__date {
    text-align: center;
    display: flex;
    flex-direction: column;
    gap: 8px;
}

.match__date p {
    margin: 0;
}

.match__date button {
    border: none;
    background-color: transparent;
    cursor: pointer;
}

.match__date img {
    width: 16px;
    aspect-ratio: 1/1;
}

.match_date_flex {
    display: flex;
    gap: 8px;
    justify-content: center;
}

.match_set_date {
    display: flex;

}

.match__result {
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 20px;
}

.live {
    position: absolute;
    top: 10px;
    left: 10px;
    padding-left: 20px;
    color: #000000;
}

.live::before {
    content: "";
    width: 10px;
    height: 10px;
    border-radius: 50%;
    background-color: #ff0019;
    position: absolute;
    top: calc(50% - 5px);
    left: 5px;
}

/* MATCH ITEM */

.delete_match {
    position: absolute;
    top: 15px;
    right: 15px;
    cursor: pointer;
    transition: all 0.3s ease;
}