.wrapper {
    max-width: 400px;
    width: 33%;
    display: flex;
    flex-direction: column;
    gap: 32px;
}


.next__game {
    min-height: 230px;
    border: 1px solid red
}

.small__table .line {
    display: grid;
    grid-template-columns: 30px auto repeat(5, 30px);
}

.line {
    border-left:#888888 1px solid; 
}

.line:first-child {
    border-top:#888888 1px solid;
    background-color: green;
    color: white;
}

.line div {
    border-right: #888888 1px solid;
    border-bottom: #888888 1px solid;
    text-align: center;
    padding: 4px 0;
}
