.footer {
    width: 100%;
    min-height: 50px;
    background-color:#5C821A;
}

.wrapper {
    max-width: 1368px;
    margin: 0 auto;
    width: 95%;
}

.social {
    height: 75px;
    border: 1px solid #000000;
}

.copyright {
    border: 1px solid #000000;
    margin: 16px 0;
    font-size: 12px;
    color: #ffffff;
}

.copyright p {
    padding: 0;
}