.list {
    width: 100%;
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    column-gap: 16px;
    row-gap: 24px;
}

.wrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 24px;
    padding: 16px;
    cursor: pointer;
    transition: all 0.3s ease;
    height: min-content;
    box-shadow: 0px 7px 20px 0px #0000000F;
    border-radius: 5px;
}

.wrapper:hover {
    transform: scale(1.02);
}

.logo {
    width: 74px;
    height: 74px;
    border: 1px black solid;
}

.name {
    font-size: 20px;
    line-height: 30px;
}

.button__add {
    max-height: 160px;
    border-radius: 5px;
    box-shadow: 0px 7px 20px 0px #0000000F;
    background-color: #dddddd;
    cursor: pointer;
    border: none;
    transition: all 0.3s ease;
}

.button__add:hover {
    transform: scale(1.02);
}

.modal__wrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 16px;
}

.modal__wrapper label {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.modal__footer {
    display: flex;
    justify-content: flex-end;
    width: 100%;
}