/* ONE PLAYER */
.player_wrapper {
    width: 100%;
}

.player__banner {
    padding: 16px 12px;
    width: 100%;
    background-color: #f9f9f9;
    border-radius: 5px;
    border: 1px solid #C6D166;
    aspect-ratio: 3 / 1;
    display: grid;
    grid-template-columns: 1fr 4fr;
    column-gap: 32px;
}

.player__banner div {
    background-color: #f9f9f9;
    border-radius: 5px;
}

.player_avatar {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    gap: 24px;
}

.player_foto {
    width: 100%;
    aspect-ratio: 1 / 1;
    border-radius: 50%;
}

.player_tab {
    background-color: transparent;
    border: none;
    cursor: pointer;
    padding: 12px 24px;
    font-size: 18px;
    font-weight: 500;
}

.player_tab.active {
    border-bottom: 3px solid #5C821A;
}

/* PLAYERS TEAM */

.team_squad {
    display: flex;
    flex-direction: column;
    gap: 8px;
    width: 100%;
}

/* PLAYER CARD */

.card_link {
    text-decoration: none;
}

.card {
    display: grid;
    grid-template-columns: 40px 32px auto 64px 32px;
    column-gap: 16px;
    width: 100%;
    border: 1px solid #C6D166;
    border-radius: 5px;
    align-items: center;
    padding: 4px 24px;
    transition: all 0.3s ease;
}

.card:hover {
    background-color: #d9d9d9;
}

.card p {
    padding: 0;
    margin: 0;
    color: #000000;
}

.foto img {
    width: 46px;
    aspect-ratio: 1 / 1;
    border-radius: 50%;

}

.change_number_inactive {
    display: none;
}

.manage_player {
    width: 16px;
    aspect-ratio: 1 / 1;
    margin: 4px;
    cursor: pointer;
}

.change_avatar {
    cursor: pointer;
    transition: color 0.4s ease;
}

.change_avatar:hover {
    color: #5C821A;
}

.change_avatar input {
    display: none;
}

.player_banner_info {
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 16px;
    padding: 24px 36px;
}

.player_banner_info h3{
    font-size: 48px;
    line-height: 126%;
    margin: 0;
}

.player_banner_info p {
    font-size: 20px;
    line-height: 24px;
    margin: 0;
}

.player_banner_info p a{
    color: #000000;
    text-decoration: none;
}


/*  */

/* MANAGE PLAYER */
.number_input {
    padding: 10px 15px;
    border-radius: 5px;
    font-size: 16px;
    border: gray 1px solid;
    transition: all 0.3s ease-in;
}

.number:focus-visible {
    outline: solid 1px#5C821A;
  }

/* Chrome, Safari, Edge, Opera */
.number::-webkit-outer-spin-button,
.number::-webkit-inner-spin-button {
    -webkit-appearance: none;
}

/* Firefox */
.number[type=number] {
    -moz-appearance: textfield;
}

/*  */