/* ONE PLAYER */
.player_wrapper {
    width: 100%;
}

.player__banner {
    padding: 16px 12px;
    width: 100%;
    background-color: #f9f9f9;
    border-radius: 5px;
    border: 1px solid #C6D166;
    aspect-ratio: 3 / 1;
    display: grid;
    grid-template-columns: 1fr 3fr;
    column-gap: 32px;
}

.player__banner div{
    background-color: #f9f9f9;
    border-radius: 5px;
    border: 1px solid #C6D166;
}

/*  */