/* ONE MATCH */

.wrapper {
    display: flex;
    flex-direction: column;
    gap: 16px;
    width: 100%;
}

/*  */

/* MATCH BANNER */
.baner {
    display: grid;
    grid-template-columns: 2fr 1fr 2fr;
    width: 100%;
    background-color: #f9f9f9;
    border-radius: 5px;
    border: 1px solid #C6D166;
    aspect-ratio: 3 / 1;
    position: relative;
    padding: 16px;
}

.baner a {
    display: flex;
    align-items: center;
    justify-content: center;
    text-decoration: none;
    color: #000000;

}

.visitor {
    grid-column-end: -1;
    grid-column-start: -2;
    display: flex;
    align-items: center;
    justify-content: start;
    gap: 8px;
    font-size: 36px;
    font-weight: 500;
}

.visitor img,
.home img {
    width: 60px;
    aspect-ratio: 1 / 1;
}

.home {
    grid-column-end: 2;
    grid-column-start: 1;
    display: flex;
    align-items: center;
    justify-content: end;
    gap: 8px;
    font-size: 36px;
    font-weight: 500;
}

.baner__info {
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
}

.baner__date {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.baner__date footer,
.baner__date header {
    padding: 6px;
    font-size: 24px;
}

.baner__date footer {
    border-bottom: #5C821A 1px solid;
}

.stadiums {
    position: absolute;
    top: 48px;
    color: #000000;
    text-decoration: none;
    text-align: center;
}

.live {
    position: absolute;
    top: 10px;
    left: 15px;
    padding-left: 20px;
}

.live::before {
    content: "";
    width: 10px;
    height: 10px;
    border-radius: 50%;
    background-color: #ff0019;
    position: absolute;
    top: calc(50% - 5px);
    left: 5px;
}

.match_events_wrapper {
    grid-column-start: 1;
    grid-column-end: 4;
}

.match_events_list {
    width: 40%;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
}

.event_item {
    display: flex;
    gap: 8px
}

.event_item_visitor {
    flex-direction: row-reverse;
}

.event_item img {
    width: 16px;
    aspect-ratio: 1 / 1;
}

.match_info {
    grid-column-start: 1;
    grid-column-end: 4;
    display: flex;
    align-items: center;
    justify-content: center;
    height: fit-content;
    grid-row-start: 1;
    grid-row-end: 2;
}

/*  */

/* MANAGE MATCH */

.manage {
    display: flex;
    gap: 16px;
}

/*  */

/* ADD SQUAD */

.add__squad {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 24px;
}

.add__squad_home,
.add__squad_visitor {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.checkbox {
    display: flex;
    align-items: center;
    gap: 8px;
    cursor: pointer;
}

.selected_players {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

/*  */

/* START MATCH */
.players_list {
    display: flex;
    justify-content: space-between;
    gap: 32px;
    background-color: #f9f9f9;
    border: #C6D166 1px solid;
    padding: 32px;
    border-radius: 5px;
}

.team_item,
.visitor_team_item {
    display: flex;
    flex-direction: column;
    gap: 8px;
    width: 100%;
}

.player_item {
    display: flex;
    gap: 8px;
    justify-content: space-between;
    border: #C6D166 1px solid;
    padding: 6px 14px;
    align-items: center;
    position: relative;
}

.player_item_disabled {
    width: 100%;
    height: 100%;
    background-color: #00000030;
    position: absolute;
    top: 0;
    left: 0;
}

.player_item button {
    border: none;
    background-color: transparent;
    cursor: pointer;
}

.visitor_team_item .player_item {
    flex-direction: row-reverse;
}

.player_item img {
    width: 16px;
    aspect-ratio: 1 / 1;
}

.player_manage {
    display: flex;
}

.player_manage input {
    max-width: 30px;
    max-height: 18px;
    padding: 0;
    padding-left: 4px;
    font-size: 14px;
}

/* Chrome, Safari, Edge, Opera */
.player_manage input::-webkit-outer-spin-button,
.player_manage input::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

/* Firefox */
.player_manage input[type=number] {
    -moz-appearance: textfield;
}

/*  */