.champ__list {
    width: 100%;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    column-gap: 32px;
    row-gap: 24px;
}

.wrapper footer {
    display: flex;
    justify-content: flex-end;
}

.champ__link {
    width: 100%;
    padding: 32px 24px;
    display: flex;
    flex-direction: column;
    gap: 16px;
    align-items: center;
    justify-content: center;
    box-shadow: 0px 7px 20px 0px #0000000F;
    color: #000000;
    text-decoration: none;
}

.champ__link:hover .link__logo {
    transform: scale(1.05);
}

.link__logo {
    width: 75%;
    height: 150px;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: all 0.3s ease;
}

/* ONE CHAMPIONAT PAGE */

.championat__wrapper {
    display: flex;
    flex-direction: column;
    gap: 32px;
    width: 100%;
}

.championat__info {
    display: grid;
    grid-template-columns: 1fr 2fr;
    column-gap: 32px;
    row-gap: 32px;
}

.championat__logo {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.championat__logo img {
    width: 100%;
    aspect-ratio: 1 / 1;
}

.short__info {
    width: 100%;
    border: 1px solid #C6D166;
}

.championat__manage {
    display: flex;
    gap: 16px;
    flex-wrap: wrap;
}

.team__select {
    width: 100%;
}


.table__wrapper {
    display: grid;
    grid-template-columns: 30px auto repeat(4, 30px) 70px 50px 30px;
    width: 100%;
    grid-column-start: 1;
    grid-column-end: 3;
}

.green__cell {
    background-color: #5C821A;
    color: #ffffff;
}

.gray__cell {
    background-color: #aaaaaa;
}

.table__wrapper div {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 6px 0;
    border-right: #888888 1px solid;
}

.table__wrapper img {
    width: 16px;
    height: 16px;
    margin-right: 8px;
}

.champ__tabs {
    display: flex;
    justify-content: space-between;
    width: 100%;
    grid-column-start: 1;
    grid-column-end: 3;
}

.tab {
    padding: 8px 24px;
    background-color: #5C821A;
    color: white;
    width: 100%;
    text-align: center;
    cursor: pointer;
    transition: all 0.3s ease;
}

.tab_active {
    background-color: #C6D166;
    
}

.table__wrapper_custom {
    
}